<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UnidadesServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/minsal-admin-service/index.php/server"
                binding="basicHttpBinding" bindingConfiguration="UnidadesServiceSoap"
                contract="UnidadesService.UnidadesServiceSoap" name="UnidadesServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>